{% extends 'base.html' %}

{% block body %}
    <main class="page service-page"></main>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h3 class="text-center" style="margin: 50px;">Choose The Choice That Suits You</h3>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Label</label></div>
                    </td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                </tr>
            </tbody>
        </table>
    </div><button class="btn btn-primary text-justify" type="button">Button</button>
    <div class="container">
        <div class="intro">
            <h3 class="text-center"></h3>
            <p class="text-center"></p>
        </div>
    </div>

{% endblock %}