{% extends 'base.html' %}
{% block body %}
<main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                {% include 'messages.html' %}
                <div class="block-heading">
                    <h2 class="text-info">Please Update Your Medical History</h2>
                </div>
                <form method="post" action="{% url 'medical_hist' %}">
                    {% csrf_token %}
                    <label>Your Medical History, Addictions and Drug Usage&nbsp;</label>
                    <div class="form-group"><input class="form-control form-control-lg" name="medical_history" type="text" required></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
