{% extends 'base.html' %}

{% block body %}
    <main class="page service-page"></main>
    <div class="photo-gallery">
        <div class="container">
            {% include 'messages.html' %}
            <div class="intro">
                <h3 class="text-center" style="margin: 50px;">Choose The Choice That Suits You</h3>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery"></div>
    <div class="table-responsive">
        <form action="{% url 'online_test' %}" method="post">
            {% csrf_token %}
        <div class="ache">
        <p>Have you got any ache ?</p>
            <label><input type="radio" name="ache" value="head"> Head<br></label>
            <label><input type="radio" name="ache" value="arm"> Arm<br></label>
            <label><input type="radio" name="ache" value="body"> Body<br></label>
            <label><input type="radio" name="ache" value="leg"> Leg<br></label>
            <label><input type="radio" name="ache" value="throat"> Throat<br></label>
            <label><input type="radio" name="ache" value="stomach_ache"> Stomach<br></label>
            <label><input type="radio" name="ache" value="no" checked> No<br></label>
            
        </div>

        <div class="pain">
        <p>Have you got any pain ?</p>
            <label><input type="radio" name="pain" value="stomach_pain"> Stomach<br></label>
            <label><input type="radio" name="pain" value="hearth"> Hearth<br></label>
            <label><input type="radio" name="pain" value="liver"> Liver<br></label>
            <label><input type="radio" name="pain" value="no" checked> No<br></label>
        
        </div>

        <div class="erythema">
        <p>Have you got any erythema ?</p>
            <label><input type="radio" name="erythema" value="hand"> Hand<br></label>
            <label><input type="radio" name="erythema" value="leg"> Leg<br></label>
            <label><input type="radio" name="erythema" value="body"> Body<br></label>
            <label><input type="radio" name="erythema" value="foot"> Foot<br></label>
            <label><input type="radio" name="erythema" value="knee"> Knee<br></label>
            <label><input type="radio" name="erythema" value="no" checked> No<br></label>
        
         </div>

        <div class="inflamed">
        <p>Do you have any inflamed discharge ?</p>
            <label><input type="radio" name="inflamed" value="ear"> Ear<br></label>
            <label><input type="radio" name="inflamed" value="leg"> Leg<br></label>
            <label><input type="radio" name="inflamed" value="body"> Body<br></label>
            <label><input type="radio" name="inflamed" value="arm"> Arm<br></label>
            <label><input type="radio" name="inflamed" value="genital"> Genital<br></label>
            <label><input type="radio" name="inflamed" value="nose"> Nose<br></label>
            <label><input type="radio" name="inflamed" value="no" checked> No<br></label>
        
         </div>

        <div class="nausea">
        <p>Do you have nausea ?</p>
            <label><input type="radio" name="nausea" value="yes"> Yes<br></label>
            <label><input type="radio" name="nausea" value="no" checked> No<br></label>
        </div>

        <div class="hair_lose">
        <p>Do you have hair lose ?</p>
            <label><input type="radio" name="hair_lose" value="yes"> Yes<br></label>
            <label><input type="radio" name="hair_lose" value="no" checked> No<br></label>
        </div>

        <div class="appetite">
        <p>Do you have appetite ?</p>
            <label><input type="radio" name="appetite" value="yes"> Yes<br></label>
            <label><input type="radio" name="appetite" value="no" checked> No<br></label>
        </div>

        <div class="weakness">
        <p>Is there any weakness ?</p>
            <label><input type="radio" name="weakness" value="yes"> Yes<br></label>
            <label><input type="radio" name="weakness" value="no" checked> No<br></label>
        </div>

        <div class="insomnia">
        <p>Do you have insomnia ?</p>
            <label><input type="radio" name="insomnia" value="yes"> Yes<br></label>
            <label><input type="radio" name="insomnia" value="no" checked> No<br></label>
        </div>

        <div class="nosebleed">
        <p>Do you have nosebleed ?</p>
            <label><input type="radio" name="nosebleed" value="yes"> Yes<br></label>
            <label><input type="radio" name="nosebleed" value="no" checked> No<br></label>
        </div>

        <div class="dizziness">
        <p>Do you have dizziness ?</p>
            <label><input type="radio" name="dizziness" value="yes"> Yes<br></label>
            <label><input type="radio" name="dizziness" value="no" checked> No<br></label>
        </div>

        <div class="fever">
        <p>Do you have fever ?</p>
            <label><input type="radio" name="fever" value="yes"> Yes<br></label>
            <label><input type="radio" name="fever" value="no" checked> No<br></label>
        </div>

        <div class="other">
        <p>Other symptoms?</p>
            <label><input type="radio" name="other" value="sneeze"> Sneeze<br></label>
            <label><input type="radio" name="other" value="cough"> Cough<br></label>
            <label><input type="radio" name="other" value="tear"> Tear<br></label>
            <label><input type="radio" name="other" value="runny_nose"> Runny nose<br></label>
            <label><input type="radio" name="other" value="swelter"> Swelter<br></label>
            <label><input type="radio" name="other" value="fluid_loss"> Fluid loss<br></label>
            <label><input type="radio" name="other" value="nope" checked> Fluid loss<br></label>
        
        </div>

                <label><input type="submit" value="Submit"></label>
        </form>


    </div>
    <div class="container">
        <div class="intro">
            <h3 class="text-center"></h3>
            <p class="text-center"></p>
        </div>
    </div>

{% endblock %}