{% extends 'base.html' %}

{% block body %}
<main class="page service-page"></main>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h3 class="text-center" style="margin: 50px;">Your Prescriptions and Explanations</h3>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 300px;">Prescription Date &amp; Explanation</th>
                    <th>Prescription Contents</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Tam buğday unu, yumurta, kuzu eti</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="intro">
            <h3 class="text-center"></h3>
            <p class="text-center"></p>
        </div>
    </div>
{% endblock %}