{% extends 'base.html' %}

{% block body %}
<main class="page service-page"></main>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h3 class="text-center" style="margin: 50px;">Test Result</h3>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 300px;">Test Result&nbsp;</th>
                    <th>Result Contents</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Tam buğday unu, yumurta, kuzu eti</td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div><strong style="margin: 20px;">For interview with doctor:</strong><a href="user_interview.html"><img style="background-image: url(&quot;../assets/img/doctor_date.jpg&quot;);width: 185px;height: 124px;margin: 45px;"></a>
    <div class="container">
        <div class="intro">
            <h3 class="text-center"></h3>
            <p class="text-center"></p>
        </div>
    </div>
{% endblock %}