{% extends 'base.html' %}

{% block body %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Interview with Doctors</h2>
                </div>
                <form>
                    <div class="form-group"><iframe width="420" height="280" src="https://www.youtube.com/embed/aTQyXO7Yzr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Over Conversation</button></div>
                </form>
            </div>
            <div class="form-group" style="margin: 30px 240px 31px;"><label style="margin: 20px;">Vote Doctor(0-5):&nbsp;</label><input type="number"><button class="btn btn-primary" type="button">Vote</button></div>
        </section>
    </main>

{% endblock %}